<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a><br>
  <a href="static_pages/help">Help</a><br>
  <a href="static_pages/about">About</a><br>
  <a href="static_pages/contact">Contact</a>
</p>